.body
{
	font-family: sans-serif;
	cursor:pointer;
	background-image: linear-gradient(white, rgb(146, 11, 38), white);
  	background-repeat:repeat-y;
  	background-size:auto;
  
}
.MainPage
{
	margin-left:1%;
	margin-right:1%;
	margin-top:2.5%;
	margin-bottom:1%;
	background-color:rgba(112, 128, 144, 0.267);
	padding-top:0.005%;
}
.Layout
{
	display:grid;
}
.Header
{
	display:grid;
	position:center;
	background-color:rgba(112, 128, 144, 0.267);
  box-shadow: 10px 10px rgba(0,0,0,0.2);
	margin:1%;
}
.Title
{
	display:grid;
	text-align:center;
	color:ivory;
	font-family:"Verdana Pro Cond Light";
	font-style:italic;
	margin:1%;
	font-size: 48px;
}
.MainDiv
{
	display:grid;
	background-color:rgba(112, 128, 144, 0.267);
	margin-left:1%;
	margin-right:1%;

}
h2
{
	display:grid;
	background-color:rgba(112, 128, 144, 0.267);
	color:ivory;
	font-family:"Verdana Pro Cond Light";
	font-style:italic;
	margin-right:1%;
	margin-left:1%;
	position:center;
	text-align:center;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
}
h3
{
	font-style:italic;
	text-align:center;
	text-decoration: underline;
}
.Column
{
	width: -moz-fit-content;
	width:fit-content;
	background-color:rgba(112, 128, 144, 0.267);
	color:ivory;
	flex:33%;
	margin:1%;
	padding:1%;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
}
.Row
{
	display: flex;	
}
.Responsive
{
	width:100%;
	height:100%;
}
p
{
	text-align: justify;
}
.Copyright
{
	display:grid;
	position:center;
	background-color:rgba(14, 15, 15, 0.5);
	margin:1%;
}
.CopyrightInfo
{
	color: ivory;
	text-align:justify;
	text-emphasis: italic;
}
.exampleCode
{
	background-color:white;
	color:black;
	padding:2%;
	overflow:scroll;
	height: 200px;
}

/* Image */

img {
   	display:flexbox;
   	object-position:center;
	object-fit: contain;
}
div.gallery img {
  -webkit-box-reflect:below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
/*
div.gallery img:hover {
  width: 200%;
  height:200%;
  image-resolution:initial;
}*/

div.credit {
  padding: 10px;
  text-align: center;
}

/* Navigation Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color:rgba(112, 128, 144, 0.267);
	box-shadow: 10px 10px rgba(0,0,0,0.2);
  margin-left: 1%;
  margin-right:1%;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.searchBar{
  float:right;
  height:12px;
  margin-right:1%;
  margin-top:1.33%;
}
.searchButton{
  float:right;
  height:18px;
  background-color:rgba(112, 128, 144, 0.267);
  margin-right:1%;
  margin-top:1.33%;
}

/* Excess Code
.ColumnFinal
{
	width: -moz-fit-content;
	width:fit-content;
	background-color:black;
	color:white;
	flex:33%;
	margin:1%;
	padding-left:1%;
	padding-right:1%;
	padding-bottom:-1%;
}
*/
