/*MAIN CSS*/
.body
{
	height:inherit;
	width:inherit;
	font-family: sans-serif;
	cursor:pointer;
	background-image: linear-gradient(white, rgb(85, 83, 84), white);
  	background-repeat:repeat-y;
  	background-size:auto;
  
}
.MainPage
{
	margin-left:1%;
	margin-right:1%;
	margin-top:2.5%;
	margin-bottom:1%;
	background-color:rgba(112, 128, 144, 0.267);
	padding-top:0.005%;
}
.Layout
{
	display:grid;
}
.Header
{
	display:grid;
	position:center;
	background-color:rgba(112, 128, 144, 0.267);
  	box-shadow: 10px 10px rgba(0,0,0,0.2);
	margin:1%;
}
.Title
{
	display:grid;
	text-align:center;
	color:black;
	font-family:"Verdana Pro Cond Light";
	font-style:italic;
	margin:1%;
	font-size: 50px;
	float:center;
}
.MainDiv
{
	display:grid;
	background-color:rgba(112, 128, 144, 0.267);
	margin-left:1%;
	margin-right:1%;

}
h2
{
	display:grid;
	background-color:rgba(112, 128, 144, 0.267);
	color:black;
	font-family:"Verdana Pro Cond Light";
	font-style:italic;
	margin-right:1%;
	margin-left:1%;
	position:center;
	text-align:center;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
}
h3
{
	font-style:italic;
	text-align:center;
	text-decoration: underline;
}
.Column
{
	width: -moz-fit-content;
	width:fit-content;
	background-color:rgba(112, 128, 144, 0.267);
	color:black;
	flex:33%;
	margin:1%;
	padding:1%;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
}
.Row
{
	display: flex;	
}
.Responsive
{
	width:100%;
	height:100%;
}
p
{
	text-align: justify;
}
.Copyright
{
	display:grid;
	position:center;
	background-color:rgba(14, 15, 15, 0.5);
	margin:1%;
}
.CopyrightInfo
{
	color: black;
	text-align:justify;
	text-emphasis: italic;
}
.exampleCode
{
	background-color:white;
	color:black;
	padding:2%;
	overflow:scroll;
	height: 200px;
}
/*Logo*/
.logo
{
	max-height:100%;
	max-width:25%;
	float: center;
    border-bottom: solid black 1px;
    margin-left:35%;
    padding-bottom:-100px;
    padding-top: -10%;
}

/*JavaScript Special CSS*/
.JavaScriptOne{
  float:right;
  width: -moz-fit-content;
  width:fit-content;
  background-color:rgba(112, 128, 144, 0.267);
  color:black;
  flex:33%;
  margin:1%;
  padding:1%;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
}
.JavaScriptTwo{
  float:left;
  	width: -moz-fit-content;
	width:fit-content;
	background-color:rgba(112, 128, 144, 0.267);
	color:black;
	flex:33%;
	margin:1%;
	padding:1%;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
}

/*Twitch Streamers Unique CSS*/
.Don{
float:left;
	width: -moz-fit-content;
	width:fit-content;
	background-color: rgba(223, 10, 38, .7);
	color:black;
	flex:33%;
	margin:1%;
	padding:1%;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
}
.Mint{
float:center;
	width: -moz-fit-content;
	width:fit-content;
	background-color:rgba(0, 255, 149, 0.7);
	color:black;
	flex:33%;
	margin:1%;
	padding:1%;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
}
.Diablo{
float:right;  	
	width: -moz-fit-content;
	width:fit-content;
	background-color:rgba(0, 116, 248, 0.7);
	color:black;
	flex:33%;
	margin:1%;
	padding:1%;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
}

/* Image */

img {
   	display:flexbox;
   	object-position:center;
	object-fit: contain;
}
div.gallery img {
  -webkit-box-reflect:below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

div.credit {
  padding: 10px;
  text-align: center;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color:rgba(112, 128, 144, 0.267);
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  margin-left: 1%;
  margin-right:1%;
}
li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: justify;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.searchBar{
  float:right;
  height:12px;
  margin-right:1%;
  margin-top:1.33%;
}
.searchButton{
  float:right;
  height:18px;
  background-color:rgba(112, 128, 144, 0.267);
  margin-right:1%;
  margin-top:1.33%;
}
